<!DOCTYPE html>
<html lang="en-US">
<head>
<title>wwwswd1</title>
<link rel="stylesheet" href="/css/style.css" />
<meta charset=UTF-8" />
</head>
<body>
<h1>wwwswd1</h1>
<div id="content">
<% content %>
</div>
<footer>
Powered by <a href="http://perldancer.org/">Dancer</a> 1.1904
</footer>
</body>
</html>