people of [% planet %], your attention please.

This is [% captain %]of the Galactic Hyperspace Planning Council.
As youn will nodoubt be aware your planet is one of those scheduled for destruction.

The process will take slightly less than [% time %].

Thank you.